
h1,
h2 {
  text-align: center;
  text-shadow: 1px 0px #000;
}
body {
  margin: 0 auto;
  font-family: "Bona Nova", serif;
}
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.card-img-top {
  border: 1px solid #000;
}
.lead {
  font-size: 19px;
  text-align: justify;text-transform: capitalize;
}
p.card-text {
  text-align: justify;
}
.card {
  border: 2px solid #000;
}
hr {
  border-top: 3px solid rgb(0 150 150);
}

/*Animation on load*/
.fade-in-music{
    animation: fadeInAnimation 6s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 100;
    text-shadow: 0px 2px #adb5bd;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: #6c757d;
    border: none;
    opacity: 0.5;
}
.table{font-size: 1.3rem;}